@charset "UTF-8";
/* 로컬 폰트 추가 */
@font-face {
    font-family: "Nanum Gothic";
    src: url("/fonts/WooridaumR.ttf") format("truetype");
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* woori_text div에 폰트 적용 */
#woori_text {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold; /* 굵게 설정 */
    font-style: italic; /* 기울임 설정 */
    font-size: 20px;
    color: white;
    background: none; 
    position: absolute; 
    top: 3%; 
    left: 6%; 
    z-index: 3;
}

/* 저작권 저촉 에러 메세지 */
#errorMessageContainer {
    color: red; /* 글씨색 */
    font-weight: bold; /* 글씨체 굵게 */
    margin: 20px 0; /* 상하 여백 추가 */
    z-index: 3;
    opacity: 0;
}

.custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.custom-file-label {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.custom-file-label:hover {
    background-color: #2980b9;
}

.edited {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: white !important;
}

.edited:hover{
    background-color: #0c4128 !important;
    border-color: #0c4128 !important;
}